.cvContainer {
    text-align: center;
    padding: 4rem 0;
    background: #0d1117;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.cvText {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #ccc;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    margin-right: 0.5rem;
}